{% extends 'master_new_list.html' %}

{% block title %}
<div class="auth__column_right_form__header">
               Редактирование списка
          </div>
{% endblock %}

{% block form %}
          <form class="auth_form_class" action="" id="auth_form" method="POST">
              {% csrf_token %}
{#              <input type="text" name="login" id="input_field_email-id" maxlength="128" required="">#}
             {{ form.name }}
              {% if form.non_field_errors %}
                   {%  for error in form.non_field_errors %}
                     {{ error }}
                   {%  endfor %}
              {%  endif %}
          </form>
{% endblock %}

{% block cancel %}
            <label class="form_footer_button-cancel">
                <a href="{% url "main:main" %}">
              <div class="auth__button_submit" id="login-cancel-btn" ><span>&#9587</span></div>
                </a>
            </label>
{% endblock %}
